<h2>Environment</h2>

<ul>
{{#each env}}
   <li> {{@key}} = <strong>{{this}}</strong> </li>
{{/each}}
</ul>

<h2>Arguments</h2>
<ul>
{{#each args}}
    <li>{{@key}} =<strong> {{this}}</strong></li>
{{/each}}
</ul>